In [16]:
import numpy as np
import pandas as pd

### Bài 1

In [41]:
data = [3, 7, 8, 5, 14, 12, 21, 13, 18]

In [42]:
data_sorted = sorted(data)
data_sorted

[3, 5, 7, 8, 12, 13, 14, 18, 21]

In [43]:
n = len(data_sorted)
q1_pos = (n + 1) / 4
q3_pos = 3 * (n + 1) / 4

if q1_pos.is_integer():
    Q1 = data_sorted[int(q1_pos) - 1]
else:
    Q1 = (data_sorted[int(q1_pos)] + data_sorted[int(q1_pos) - 1]) / 2
print(f"Q1: {Q1}")

if q3_pos.is_integer():
    Q3 = data_sorted[int(q3_pos) - 1]
else:
    Q3 = (data_sorted[int(q3_pos)] + data_sorted[int(q3_pos) - 1]) / 2
print(f"Q3: {Q3}")

IQR = Q3 - Q1
print(f"IQR: {IQR}")

Q1: 6.0
Q3: 16.0
IQR: 10.0

### Bài 2

In [44]:
data = [3, 5, 7, 8, 12, 13, 14, 18, 21, 100]

In [46]:
data_sorted = sorted(data)

In [47]:
n = len(data_sorted)
q1_pos = (n + 1) / 4
q3_pos = 3 * (n + 1) / 4

if q1_pos.is_integer():
    Q1 = data_sorted[int(q1_pos) - 1]
else:
    Q1 = (data_sorted[int(q1_pos)] + data_sorted[int(q1_pos) - 1]) / 2
print(f"Q1: {Q1}")

if q3_pos.is_integer():
    Q3 = data_sorted[int(q3_pos) - 1]
else:
    Q3 = (data_sorted[int(q3_pos)] + data_sorted[int(q3_pos) - 1]) / 2
print(f"Q3: {Q3}")

IQR = Q3 - Q1
print(f"IQR: {IQR}")

Q1: 6.0
Q3: 19.5
IQR: 13.5

In [50]:
lower_bound = Q3 - 1.5 * IQR
upper_bound = Q1 + 1.5 * IQR
print(f"Lower bound: {lower_bound}")
print(f"Upper bound: {upper_bound}")

Lower bound: -0.75
Upper bound: 26.25

In [53]:
list_outlier = [outlier for outlier in data_sorted if outlier < lower_bound or outlier > upper_bound]
list_outlier

[100]

### Bài 3

In [48]:
import pandas as pd

df = pd.DataFrame({'score': [55, 61, 70, 65, 68, 90, 91, 94, 300, 58]})

In [54]:
df.describe()

            score
count   10.000000
mean    95.200000
std     73.367871
min     55.000000
25%     62.000000
50%     69.000000
75%     90.750000
max    300.000000

In [55]:
Q1 = df['score'].quantile(0.25)
Q3 = df['score'].quantile(0.75)
IQR = Q3 - Q1
print(f"Q1: {Q1}")
print(f"Q3: {Q3}")
print(f"IQR: {IQR}")

Q1: 62.0
Q3: 90.75
IQR: 28.75

In [58]:
outlier = df[(df['score'] < Q1 - 1.5 * IQR) | (df['score'] > Q3 + 1.5 * IQR)]
outlier

   score
8    300

In [59]:
df[~df['score'].isin(outlier['score'])]
df

   score
0     55
1     61
2     70
3     65
4     68
5     90
6     91
7     94
8    300
9     58