In [1]:
import sqlite3
import pandas as pd

connection = sqlite3.connect('database.sqlite')
cursor = connection.cursor()

In [ ]:
cursor.execute("""
CREATE TABLE STOCK(
ID INTERGER PRIMARY KEY,
NAME TEXT NOT NULL,
BUY INTERGER NOT NULL,
INVESTOR TEXT NOT NULL
);
""")

In [18]:
cursor.execute ("""
INSERT INTO STOCK(ID, NAME, BUY, INVESTOR)
VALUES
('1', 'ACB', '29.45', 'Nguyen'),
('2', 'VIC', '44.55', 'Nguyen'),
('3', 'GMD', '74.30', 'Nguyen'),
('4', 'ACB', '28.45', 'Vinh'),
('5', 'VIC', '40.55', 'Vinh'),
('6', 'GMD', '60.30', 'Vinh');
""" )

In [19]:
query = """
SELECT SUM(BUY) AS total_revenue
FROM STOCK;
"""

data_sum = pd.read_sql_query(query, connection)
print(data_sum)

   total_revenue
0          277.6

In [20]:
# Query để lấy thông tin sản phẩm có giá bán thấp nhất
query = """
SELECT INVESTOR, NAME, MAX(BUY) AS MAX_PRICE
FROM STOCK
GROUP BY INVESTOR;
"""
data_max_by_brand = pd.read_sql_query(query, connection)
print(data_max_by_brand)

  INVESTOR NAME  MAX_PRICE
0   Nguyen  GMD       74.3
1     Vinh  GMD       60.3