In [22]:
import mysql.connector
import pandas as pd

connection = mysql.connector.connect(
    host= 'localhost',         
    database = 'AIO2025',
    user= 'root',             
    password= '123456'       
)
cursor = connection.cursor()

In [27]:
import warnings

warnings.filterwarnings('ignore')

In [2]:
cursor.execute("""
CREATE TABLE Salespersons (
    SalespersonID INTEGER PRIMARY KEY,
    FullName VARCHAR(100) NOT NULL,
    Email VARCHAR(100) NOT NULL,
    PhoneNumber VARCHAR(15) NOT NULL
);
""")

In [3]:
cursor.execute("""
INSERT INTO Salespersons (SalespersonID, FullName, Email, PhoneNumber) VALUES
(1, 'Nguyễn Văn A', 'a@example.com', '0123456789'),
(2, 'Trần Thị B', 'b@example.com', '0987654321'),
(3, 'Lê Văn C', 'c@example.com', '0112233445');
""")

connection.commit()

In [4]:
cursor.execute("""
CREATE TABLE Customers (
    CustomerID INTEGER PRIMARY KEY,
    FullName VARCHAR(100) NOT NULL,
    Email VARCHAR(100) NOT NULL,
    PhoneNumber VARCHAR(15) NOT NULL
);
""")

In [5]:
cursor.execute("""
INSERT INTO Customers (CustomerID, FullName, Email, PhoneNumber) VALUES
(1, 'Phạm Văn D', 'd@example.com', '0123456780'),
(2, 'Nguyễn Thị E', 'e@example.com', '0987654320'),
(3, 'Trần Văn F', 'f@example.com', '0112233446');
""")

connection.commit()

In [6]:
cursor.execute("""
CREATE TABLE Orders (
    OrderID INTEGER PRIMARY KEY,
    CustomerID INTEGER NOT NULL,
    SalespersonID INTEGER NOT NULL,
    OrderDate DATE NOT NULL,
    TotalAmount DECIMAL NOT NULL
);
""")

In [19]:
cursor.execute("""
INSERT INTO Orders (OrderID, SalespersonID, CustomerID, OrderDate, TotalAmount) VALUES
(1, 1, 1, '2023-10-01', 100000),
(2, 2, 2, '2023-10-02', 250000),
(3, 3, 3, '2023-10-03', 150000),
(4, 3, 2, '2023-10-05', 200000),
(5, 2, 3, '2023-10-10', 90000),
(6, 1, 3, '2023-10-15', 80000)
""")

connection.commit()

In [30]:
query = ("""
SELECT * FROM Salespersons
WHERE SalespersonID = 1;
""")

data = pd.read_sql_query(query, connection)
print(data)

   SalespersonID      FullName          Email PhoneNumber
0              1  Nguyễn Văn A  a@example.com  0123456789

In [31]:
query = ("""
SELECT CustomerID, COUNT(OrderID) TotalOrders
 FROM Orders
GROUP BY CustomerID
ORDER BY TotalOrders DESC
LIMIT 1;
""")

data = pd.read_sql_query(query, connection)
print(data)

   CustomerID  TotalOrders
0           3            3

In [32]:
query = ("""
SELECT SalespersonID, SUM(TotalAmount) TotalSales
 FROM Orders
GROUP BY SalespersonID
""")

data = pd.read_sql_query(query, connection)
print(data)

   SalespersonID  TotalSales
0              1    180000.0
1              2    340000.0
2              3    350000.0

In [33]:
query = ("""
SELECT SalespersonID, SUM(TotalAmount) TotalSales
 FROM Orders
GROUP BY SalespersonID
ORDER BY TotalSales DESC
LIMIT 1;
""")

data = pd.read_sql_query(query, connection)
print(data)

   SalespersonID  TotalSales
0              3    350000.0

In [34]:
cursor.execute("""
UPDATE Orders
SET TotalAmount = 4500000
WHERE 1 = 1
AND OrderID = 2;
""" )

connection.commit()
data = pd.read_sql_query("SELECT * FROM Orders", connection)
print(data)

   OrderID  CustomerID  SalespersonID   OrderDate  TotalAmount
0        1           1              1  2023-10-01     100000.0
1        2           2              2  2023-10-02    4500000.0
2        3           3              3  2023-10-03     150000.0
3        4           2              3  2023-10-05     200000.0
4        5           3              2  2023-10-10      90000.0
5        6           3              1  2023-10-15      80000.0

In [35]:
cursor.execute("""
UPDATE Customers
SET PhoneNumber = 89754314
WHERE 1 = 1
AND CustomerID = 3;
""" )

connection.commit()
data = pd.read_sql_query("SELECT * FROM Customers", connection)
print(data)

   CustomerID      FullName          Email PhoneNumber
0           1    Phạm Văn D  d@example.com  0123456780
1           2  Nguyễn Thị E  e@example.com  0987654320
2           3    Trần Văn F  f@example.com    89754314

In [36]:
# Update name của email: nguyen@aivietnam.edu.vn
cursor.execute("""
DELETE FROM Orders
WHERE 1 = 1
AND CustomerID = 2;
""" )

connection.commit()
data = pd.read_sql_query("SELECT * FROM Orders", connection)
print(data)

   OrderID  CustomerID  SalespersonID   OrderDate  TotalAmount
0        1           1              1  2023-10-01     100000.0
1        3           3              3  2023-10-03     150000.0
2        5           3              2  2023-10-10      90000.0
3        6           3              1  2023-10-15      80000.0