In [3]:
import mysql.connector

In [4]:
connection = mysql.connector.connect(
    host= 'localhost',         
    user= 'root',             
    password= '123456', 
    database = 'day_47'     
)
cursor = connection.cursor()

### Bài 1

In [5]:
cursor.execute("""
CREATE TABLE Category (
    CategoryID INTEGER PRIMARY KEY AUTO_INCREMENT,
    Name VARCHAR(200) NOT NULL
);
""")

In [6]:
cursor.execute("""
CREATE TABLE Product (
    ProductID INTEGER PRIMARY KEY AUTO_INCREMENT,
    Name VARCHAR(200) NOT NULL, 
    CategoryID INTEGER NOT NULL,
    Price DECIMAL(10, 0) NOT NULL, 
    FOREIGN KEY (CategoryID) REFERENCES Category(CategoryID)
);
""")

In [7]:
cursor.execute("""
CREATE TABLE Variant (
    VariantID INTEGER PRIMARY KEY AUTO_INCREMENT,
    ProductID INTEGER NOT NULL,
    Color VARCHAR(20) NOT NULL, 
    Size VARCHAR(5) NOT NULL, 
    Stock INT NOT NULL,
    FOREIGN KEY (ProductID) REFERENCES Product(ProductID)
);
""")

In [8]:
cursor.execute("""
CREATE TABLE Customer (
    CustomerID INTEGER PRIMARY KEY AUTO_INCREMENT,
    Name TEXT NOT NULL,
    Phone VARCHAR(15) UNIQUE, 
    Address TEXT NOT NULL, 
    CreatedDate DATE NOT NULL
);
""")

In [ ]:
cursor.execute("""
CREATE TABLE Orders (
    OrderID INTEGER PRIMARY KEY AUTO_INCREMENT,
    CustomerID INTEGER NOT NULL,
    OrderDate DATE NOT NULL,
    Status ENUM('Đã đặt', 'Đã giao') NOT NULL,
    FOREIGN KEY (CustomerID) REFERENCES Customer(CustomerID)
);
""")

In [13]:
cursor.execute("""
CREATE TABLE OrderDetail (
    OrderID INTEGER NOT NULL,
    VariantID INTEGER NOT NULL,
    Quantity INTEGER NOT NULL,
    Price DECIMAL(10, 0) NOT NULL, 
    FOREIGN KEY (OrderID) REFERENCES Orders(OrderID),
    FOREIGN KEY (VariantID) REFERENCES Variant(VariantID)
);
""")

### Bài 2

In [14]:
cursor.execute("""
INSERT INTO Category (CategoryID, Name) VALUES
(1, 'Áo'),
(2, 'Quần'),
(3, 'Váy'),
(4, 'Phụ kiện');
""")

connection.commit()

In [15]:
cursor.execute("""
INSERT INTO Product (ProductID, Name, CategoryID, Price) VALUES
(101, 'Áo sơ mi nam', 1, 300000),
(102, 'Quần jeans', 2, 500000),
(103, 'Váy xòe', 3, 450000);
""")

connection.commit()

In [17]:
cursor.execute("""
INSERT INTO Variant (VariantID, ProductID, Color, Size, Stock) VALUES
(1, 101, 'Trắng', 'M', 20),
(2, 101, 'Trắng', 'L', 15),
(3, 102, 'Xanh', 'M', 10),
(4, 103, 'Đỏ', 'S', 5);
""")

connection.commit()

In [18]:
cursor.execute("""
INSERT INTO Customer (CustomerID, Name, Phone, Address, CreatedDate) VALUES
(1, 'Trần An', '0909123456', 'Hà Nội', '2024-01-10'),
(2, 'Lê Bình', '0909223456', 'TP.HCM', '2024-02-05');
""")

connection.commit()

In [ ]:
cursor.execute("""
INSERT INTO Customer (CustomerID, Name, Phone, Address, CreatedDate) VALUES
(1, 'Trần An', '0909123456', 'Hà Nội', '2024-01-10'),
(2, 'Lê Bình', '0909223456', 'TP.HCM', '2024-02-05');
""")

connection.commit()

In [23]:
cursor.execute("""
INSERT INTO Orders (OrderID, CustomerID, OrderDate, Status) VALUES
(1, 1, '2024-03-01', 'Đã giao'),
(2, 2, '2024-03-02', 'Đã đặt');
""")

connection.commit()

In [24]:
cursor.execute("""
INSERT INTO OrderDetail (OrderID, VariantID, Quantity, Price) VALUES
(1, 1, 2, 300000),
(1, 3, 1, 500000),
(2, 4, 1, 450000);
""")

connection.commit()