In [2]:
import pandas as pd
import mysql.connector

In [3]:
connection = mysql.connector.connect(
    host= 'localhost',         
    user= 'root',             
    password= '123456', 
    database = 'day_46'     
)
cursor = connection.cursor()

In [3]:
cursor.execute("""
CREATE TABLE Customers (
    CustomerID INTEGER PRIMARY KEY AUTO_INCREMENT,
    Name VARCHAR(200) NOT NULL, 
    City VARCHAR(200) NOT NULL
);
""")

In [4]:
cursor.execute("""
INSERT INTO Customers (CustomerID, Name, City) VALUES
(1, 'Alice', 'Hanoi'),
(2, 'Bob', 'HCM'),
(3, 'Charlie', 'Danang'),
(4, 'Diana', 'Hanoi');
""")

connection.commit()

In [5]:
cursor.execute("""
CREATE TABLE Accounts (
    AccountID VARCHAR(200) PRIMARY KEY,
    CustomerID INTEGER NOT NULL,
    Balance DECIMAL(10, 0) NOT NULL
);
""")

In [4]:
cursor.execute("""
INSERT INTO Accounts (AccountID, CustomerID, Balance) VALUES
('A1', 1, 500),
('A2', 1, 1000),
('A3', 2, 1500),
('A4', 5, 300);
""")

connection.commit()

### Bài 1

In [6]:
query = ("""
SELECT a.Name
    , a.City
    , b.AccountID
 FROM Customers a
LEFT JOIN Accounts b on a.CustomerID = b.CustomerID
""")

data_1 = pd.read_sql_query(query, connection)
print(data_1)

      Name    City AccountID
0    Alice   Hanoi        A2
1    Alice   Hanoi        A1
2      Bob     HCM        A3
3  Charlie  Danang      None
4    Diana   Hanoi      None

C:\Users\Apollonir\AppData\Local\Temp\ipykernel_29360\2440638325.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_1 = pd.read_sql_query(query, connection)

### Bài 2

In [7]:
query = ("""
SELECT a.Name
    , a.City
    , b.AccountID
 FROM Customers a
RIGHT JOIN Accounts b on a.CustomerID = b.CustomerID
""")

data_2 = pd.read_sql_query(query, connection)
print(data_2)

    Name   City AccountID
0  Alice  Hanoi        A1
1  Alice  Hanoi        A2
2    Bob    HCM        A3
3   None   None        A4

C:\Users\Apollonir\AppData\Local\Temp\ipykernel_29360\2805505836.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_2 = pd.read_sql_query(query, connection)

### Bài 3

In [13]:
query = ("""
SELECT a.Name, a.City, b.AccountID
FROM Customers a
LEFT JOIN Accounts b ON a.CustomerID = b.CustomerID

UNION

SELECT a.Name, a.City, b.AccountID
FROM Customers a
RIGHT JOIN Accounts b ON a.CustomerID = b.CustomerID;
""")

data_3 = pd.read_sql_query(query, connection)
print(data_3)

      Name    City AccountID
0    Alice   Hanoi        A2
1    Alice   Hanoi        A1
2      Bob     HCM        A3
3  Charlie  Danang      None
4    Diana   Hanoi      None
5     None    None        A4

C:\Users\Apollonir\AppData\Local\Temp\ipykernel_29360\3477105701.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_3 = pd.read_sql_query(query, connection)