In [12]:
import mysql.connector
import pandas as pd

In [1]:
connection = mysql.connector.connect(
    host= 'localhost',         
    user= 'root',             
    password= '123456', 
    database = 'day_74'     
)
cursor = connection.cursor()

### Bài 1

In [4]:
# Tạo bảng
cursor.execute("""
CREATE TABLE IF NOT EXISTS students(
id INT AUTO_INCREMENT PRIMARY KEY,
name VARCHAR(100),
age INT,
email VARCHAR(100)
)
""")

### Bài 2

In [5]:
# Thêm dữ liệu
sql = "INSERT INTO students (name, age, email) VALUES (%s, %s, %s)"
val = ("Nguyen Van A", 20, "a@gmail.com")
cursor.execute(sql, val)
connection.commit()

In [6]:
cursor.execute("SELECT * FROM students")
result = cursor.fetchall()

In [7]:
for row in result:
    print(row)

(5, 'Nguyen Van A', 20, 'a@gmail.com')

In [ ]:
# Cập nhật
cursor.execute("UPDATE students SET age = 21 WHERE name = 'Nguyen Van A'")
connection.commit()

In [ ]:
# Xóa
cursor.execute("DELETE FROM students WHERE name = 'Nguyen Van A'")
connection.commit()

### Bài 3

In [20]:
sql = "INSERT INTO students (name, age, email) VALUES (%s, %s, %s)"

val_List = [("Nguyen Van Anh", 27, "a@gmail.com"), ("Nguyen Anh Van", 17, "b@gmail.com"), ("Nguyen Van Ba", 22, "c@gmail.com")]

for i in range(len(val_List)):
    cursor.execute(sql, val_List[i])
    connection.commit()

In [21]:
cursor.execute("SELECT * FROM students")
result = cursor.fetchall()
for row in result:
    print(row)

(5, 'Nguyen Van A', 20, 'a@gmail.com')
(6, 'Nguyen Van Mot', 20, 'a@gmail.com')
(7, 'Nguyen Van Hai', 21, 'b@gmail.com')
(8, 'Nguyen Van Ba', 22, 'c@gmail.com')
(9, 'Nguyen Van Mot', 16, 'a@gmail.com')
(10, 'Nguyen Van Hai', 17, 'b@gmail.com')
(11, 'Nguyen Van Ba', 22, 'c@gmail.com')
(12, 'Nguyen Van B', 16, 'nguyenb@gmail.com')
(13, 'Nguyen Van Hai', 17, 'b@gmail.com')
(14, 'Nguyen Van Ba', 22, 'c@gmail.com')
(16, 'Nguyen Van Hai', 17, 'b@gmail.com')
(17, 'Nguyen Van Ba', 22, 'c@gmail.com')
(18, 'Nguyen Van Anh', 27, 'a@gmail.com')
(19, 'Nguyen Van Hai', 17, 'b@gmail.com')
(20, 'Nguyen Van Ba', 22, 'c@gmail.com')
(21, 'Nguyen Van Anh', 27, 'a@gmail.com')
(22, 'Nguyen Anh Van', 17, 'b@gmail.com')
(23, 'Nguyen Van Ba', 22, 'c@gmail.com')

### Bài 4

In [13]:
query = ("""
SELECT *
 FROM students
WHERE age > 18 AND age < 22;
""")

data = pd.read_sql_query(query, connection)
print(data)

   id            name  age        email
0   5    Nguyen Van A   20  a@gmail.com
1   6  Nguyen Van Mot   20  a@gmail.com
2   7  Nguyen Van Hai   21  b@gmail.com

C:\Users\Apollonir\AppData\Local\Temp\ipykernel_46572\2819361976.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql_query(query, connection)

### Bài 5

In [15]:
cursor.execute("UPDATE students SET email = 'nguyenb@gmail.com' WHERE name = 'Nguyen Van B'")
connection.commit()

### Bài 6

In [18]:
cursor.execute("DELETE FROM students WHERE age > 25")
connection.commit()

### Bài 7

In [22]:
query = ("""
SELECT *
 FROM students
WHERE name like '%Anh%';
""")

data = pd.read_sql_query(query, connection)
print(data)

   id            name  age        email
0  18  Nguyen Van Anh   27  a@gmail.com
1  21  Nguyen Van Anh   27  a@gmail.com
2  22  Nguyen Anh Van   17  b@gmail.com

C:\Users\Apollonir\AppData\Local\Temp\ipykernel_46572\1919951059.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql_query(query, connection)

### Bài 8

In [23]:
query = ("""
SELECT age, COUNT(*) as count
 FROM students
GROUP BY age;
""")

data = pd.read_sql_query(query, connection)
print(data)

   age  count
0   20      2
1   21      1
2   22      6
3   16      2
4   17      5
5   27      2

C:\Users\Apollonir\AppData\Local\Temp\ipykernel_46572\3311831908.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql_query(query, connection)